<div >
  <h2>Informacion Personal</h2>
  <form [formGroup]="personalInformationForm">
    <div class="name">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre:</mat-label>
        <input matInput formControlName="name" >{{ personalDataSource.name }}
        <mat-error *ngIf="getName?.hasError('required')">
          Field is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="lastName">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Apellido:</mat-label>
        <input matInput formControlName="lastName" >{{ personalDataSource.lastName }}
        <mat-error *ngIf="getLastName?.hasError('required')">
          Field is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="age">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Edad:</mat-label>
        <input matInput formControlName="age" >{{ personalDataSource.age }}
        <mat-error *ngIf="getAge?.hasError('required')">
          Field is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email:</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
        {{ personalDataSource.email }}
        <mat-error *ngIf="getEmail?.hasError('email') && !getEmail?.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="getEmail?.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="cellphone">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Telefono:</mat-label>
        <input matInput formControlName="cellphone" >{{ personalDataSource.cellphone }}
        <mat-error *ngIf="getCellphone?.hasError('required')">
          Field is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="save">
      <button mat-raised-button color="primary"
        (click)="savePersonalInformation(personalInformationForm)"
        routerLink="/residential"
      >Save</button>
    </div>
  </form>
</div>
